body {
  margin: 0;
}

.hero_image {
  background-image: url(images/hero_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  border-bottom: solid 8px #47566b;
}

@media only screen and (max-width: 1000px) {
    .hero_image {
      height: 200px;
    }
	}

.page_info {
  text-align: left;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 0px;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  color: rgb(82, 82, 82);
}

@media only screen and (max-width: 1000px) {
  .page_info {
    margin-left: 10%;
    margin-right: 10%;
  }
}
h1 {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-weight: 500;
  font-size: 24px;
}

p {
  font-size: 20px;
}

.medal {
  padding-top: 30px;
  text-align: center;
}
